/* (Blue)
 * Color A Bright: 8,72,145
 * Color A Dark:   109,36,150
 * (Green)
 * Color B Bright: 85,119,13
 * Color B Dark:   109,70,17
 * (Red)
 * Color C Bright: 150,48,89
 * Color C Dark:   70,24,48
 */

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: 
    local('DejaVu Sans Mono'), 
    url('/fonts/dejavu/woff/DejaVuSansMono.woff') format("woff"),
    url('/fonts/dejavu/ttf/DejaVuSansMono.ttf') format("truetype");
}

@font-face {
  font-family: 'DejaVu Sans';
  src: 
    local('DejaVu Sans'),_
    url('/fonts/dejavu/woff/DejaVuSans.woff') format("woff"),
    url('/fonts/dejavu/ttf/DejaVuSans.ttf') format("truetype");
}

@font-face {
  font-family: 'FreeMono';
  src: local('FreeMono'), local('FreeMono Medium'),
    url("/fonts/freefont-woff/FreeMono.woff") format("woff"),
    url("/fonts/freefont-otf/FreeMono.otf") format("opentype");
}

@font-face {
  font-family: 'FreeSerif';
  src: local('FreeSerif'), local('FreeSerif Regular'),
    url("/fonts/freefont-woff/FreeSerif.woff") format("woff"),
    url("/fonts/freefont-otf/FreeSerif.otf") format("opentype");
}

@font-face{
  font-family: 'Everson Mono';
  src: local('Everson Mono'), local('Everson Mono Regular'),
    url("/fonts/eversonmono/woff/Everson-Mono.woff") format("woff"),
    url("/fonts/eversonmono/ttf/Everson Mono.ttf") format("truetype");
}

/* no-bullet list styling */

ul {
  list-style-type: none;
  padding-left: 0;
}
ul ul {
  padding-left: 1em;
}

/* markdown styling */

code {
  color: rgb(150,48,89);
  font-family: 'DejaVu Sans Mono', 'FreeMono', 'Everson Mono', 'DejaVu Serif', 'FreeSerif', monospace, sans-serif, serif;
}

div.markdown pre {
  margin-left: 2em;
  color: rgb(150,48,89);
  font-family: 'DejaVu Sans Mono', 'FreeMono', 'Everson Mono', 'DejaVu Serif', 'FreeSerif', monospace, sans-serif, serif;
}

div.markdown ol {
  margin-left: 0em;
  padding-left: 1.5em;
}

div.markdown ol ol {
  margin-bottom: 1em;
}

div.markdown ul {
  list-style-type: square;
  margin-left: 0em;
  padding-left: 1.5em;
}
div.markdown ul ul {
  list-style-type: disc;
}
div.markdown ul ul ul {
  list-style-type: circle;
}

div.markdown li pre {
  /* margin-bottom: 0; */
}

div.markdown blockquote {
  border-left: 5px solid #eee;
  padding-left: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

/* OLD STUFF
body {
  padding-top: 50px;
}
p {
  text-align: justify;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul.padded li {
  margin: 0.5em 0;
}
ul ul {
  padding-left: 1em;
}

.content {
  padding: 40px 15px;
}
.no-select{
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/*
